mat-card{
    max-width: 400px;
    margin: 3rem auto;
    text-align: center;
}

mat-progress-spinner{
    margin: 0 auto;
}

mat-card-content{ 
    margin-top: 0.25rem;
}


.loader{
    margin-top: 1rem;
}